EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
EXPO_PUBLIC_PLACES_API_KEY=your_google_places_api_key
EXPO_PUBLIC_DIRECTIONS_API_KEY=your_google_directions_api_key
EXPO_PUBLIC_GEOAPIFY_API_KEY=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000

# AI Conversational Agent API Key (Groq / Grok)
EXPO_PUBLIC_GROQ_API_KEY=your_groq_api_key
EXPO_PUBLIC_GROQ_MODEL=openai/gpt-oss-120b
EXPO_PUBLIC_GROK_API_KEY=your_groq_api_key
